---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Mes Compétences" description="Découvrez mes compétences en programmation">
  <main class="skills-container">
    
    <section>
      <h2 class="section-subtitle">Langages de Programmation</h2>

      <br>
      <br>

      <div class="skills-grid">
        <div class="skill" data-skill="Python">
          <img src="/assets/skills-logo/python-logo.png" alt="Python Logo" />
        </div>
        <div class="skill" data-skill="C">
          <img src="/assets/skills-logo/c-logo.png" alt="C Logo" />
        </div>
        <div class="skill" data-skill="Java">
          <img src="/assets/skills-logo/java-logo.png" alt="Java Logo" />
        </div>
        <div class="skill" data-skill="JavaScript">
          <img src="/assets/skills-logo/javascript-logo.png" alt="JavaScript Logo" />
        </div>
        <div class="skill" data-skill="HTML">
          <img src="/assets/skills-logo/HTML-logo.png" alt="HTML Logo" />
        </div>
        <div class="skill" data-skill="CSS">
          <img src="/assets/skills-logo/css-logo.png" alt="CSS Logo" />
        </div>
        <div class="skill" data-skill="Dart">
          <img src="/assets/skills-logo/dart-logo.png" alt="Dart Logo" />
        </div>
        <div class="skill" data-skill="PHP">
          <img src="/assets/skills-logo/php-logo.png" alt="PHP Logo" />
        </div>
        <div class="skill" data-skill="Ocaml">
          <img src="/assets/skills-logo/ocaml-logo.png" alt="Ocaml Logo" />
        </div>
      </div>
    </section>

    <br>
    <br>
    <br>
    <br>

    <section>
      <h2 class="section-subtitle">Frameworks</h2>

      <br>
      <br>

      <div class="skills-grid">
        <div class="skill" data-skill="Django">
          <img src="/assets/skills-logo/django-logo.png" alt="Django Logo" />
        </div>
        <div class="skill" data-skill="React">
          <img src="/assets/skills-logo/react-logo.png" alt="React Logo" />
        </div>
        <div class="skill" data-skill="NodeJS">
          <img src="/assets/skills-logo/nodejs-logo.png" alt="NodeJS Logo" />
        </div>
        <div class="skill" data-skill="Flutter">
          <img src="/assets/skills-logo/flutter-logo.png" alt="Flutter Logo" />
        </div>
        <div class="skill" data-skill="Bootstrap">
          <img src="/assets/skills-logo/bootstrap-logo.png" alt="Bootstrap Logo" />
        </div>
      </div>
    </section>

    <br>
    <br>
    <br>
    <br>

    <section>
      <h2 class="section-subtitle">Bases de données / Services  Web</h2>

      <br>
      <br>

      <div class="skills-grid">
        <div class="skill" data-skill="MySQL">
          <img src="/assets/skills-logo/mysql-logo.png" alt="MySQL Logo" />
        </div>
        <div class="skill" data-skill="PostgreSQL">
          <img src="/assets/skills-logo/postgresql-logo.png" alt="Postgre SQL Logo" />
        </div>
        <div class="skill" data-skill="Firebase">
          <img src="/assets/skills-logo/firebase-logo.png" alt="Firebase Logo" />
        </div>
        <div class="skill" data-skill="Redis Cloud">
          <img src="/assets/skills-logo/redis-logo.png" alt="Redis Cloud Logo" />
        </div>
        <div class="skill" data-skill="MongoDB">
          <img src="/assets/skills-logo/mongoDB-logo.png" alt="MongoDB Logo" />
        </div>
        <div class="skill" data-skill="RestApi">
          <img src="/assets/skills-logo/restapi-logo.png" alt="RestApi Logo" />
        </div>
        <div class="skill" data-skill="Postman">
          <img src="/assets/skills-logo/postman-logo.png" alt="Postman Logo" />
        </div>
      </div>
    </section>

    <br>
    <br>
    <br>
    <br>

    <section>
      <h2 class="section-subtitle">Outils Business Intelligence</h2>

      <br>
      <br>

      <div class="skills-grid">
        <div class="skill" data-skill="PowerBI">
          <img src="/assets/skills-logo/powerbi-logo.png" alt="PowerBI Logo" />
        </div>
        <div class="skill" data-skill="SAP">
          <img src="/assets/skills-logo/sap-logo.png" alt="SAP Logo" />
        </div>
      </div>
    </section>

    <br>
    <br>
    <br>
    <br>

    <section>
      <h2 class="section-subtitle">Outils ERP / ETL</h2>

      <br>
      <br>

      <div class="skills-grid">
        <div class="skill" data-skill="SageX3">
          <img src="/assets/skills-logo/sage-logo.png" alt="SageX3 Logo" />
        </div>
        <div class="skill" data-skill="Talend">
          <img src="/assets/skills-logo/talend-logo.png" alt="Talend Logo" />
        </div>
      </div>
    </section>

    <br>
    <br>
    <br>
    <br>

    <section>
      <h2 class="section-subtitle">Environnements de Développement</h2>

      <br>
      <br>

      <div class="skills-grid">
        <div class="skill" data-skill="Android Studio">
          <img src="/assets/skills-logo/androidstudio-logo.jpeg" alt="Android Studio Logo" />
        </div>
        <div class="skill" data-skill="Visual Studio Code">
          <img src="/assets/skills-logo/vscode-logo.png" alt="Visual Studio Code Logo" />
        </div>
        <div class="skill" data-skill="Eclipse">
          <img src="/assets/skills-logo/eclipse-logo.png" alt="Eclipse Logo" />
        </div>
      </div>
    </section>

    <br>
    <br>
    <br>
    <br>

    <section>
      <h2 class="section-subtitle">Bureautique</h2>

      <br>
      <br>

      <div class="skills-grid">
        <div class="skill" data-skill="Pack Office">
          <img src="/assets/skills-logo/pack-office-logo.jpg" alt="Pack Office Logo" />
        </div>
        <div class="skill" data-skill="Google Workspace">
          <img src="/assets/skills-logo/google-logo.jpeg" alt="Google Workspace Logo" />
        </div>
      </div>
    </section>

    <br>
    <br>
    <br>
    <br>

    <section>
      <h2 class="section-subtitle">Gestion de projets</h2>

      <br>
      <br>

      <div class="skills-grid">
        <div class="skill" data-skill="GitHub">
          <img src="/assets/skills-logo/github-logo.png" alt="GitHub Logo" />
        </div>
        <div class="skill" data-skill="GitLab">
          <img src="/assets/skills-logo/gitlab-logo.png" alt="GitLab Logo" />
        </div>
      </div>
    </section>

    <div id="skill-popup" class="popup hidden">
      <div class="popup-content">
        <span class="close-btn">&times;</span>
        <img id="popup-logo" src="" alt="Skill Logo" class="popup-logo" />
        <h2 id="skill-title">Skill Title</h2>
        <div class="progress-bar-container">
          <div class="progress-bar">
            <div id="skill-percentage" class="progress"></div>
          </div>
          <span id="percentage-value" class="percentage-value"></span>
        </div>
        <p id="skill-description">Skill description goes here.</p>
      </div>
    </div>
  </main>

  <style>
    .skills-container {
      text-align: center;
      padding: 2rem;
    }

    .section-title, .section-subtitle {
      text-align: center;
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: 2px solid #6c63ff; /* Couleur violette */
      border-radius: 8px;
      display: inline-block;
    }

    .section-title {
      font-size: 2rem;
    }

    .section-subtitle {
      font-size: 1.5rem;
    }

    @media (min-width: 768px) {
      .section-title {
        font-size: 3rem;
      }

      .section-subtitle {
        font-size: 2.5rem;
      }
    }

    @keyframes floating {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }

    section {
      margin-bottom: 2rem;
    }

    .skills-grid {
      display: flex;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
    }

    .skill {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
    }

    .skill img {
      width: 100%;
      height: auto;
      animation: floating 3s ease-in-out infinite;
    }

    .skill:hover {
      transform: scale(1.1);
    }

    /* Styles pour le pop-up */
    .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2c2c2e; /* Couleur de fond par défaut (sombre) */
    color: #ffffff; /* Couleur du texte par défaut */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 600px;
    width: 90%;
    }

    .popup.light-theme {
      background: #ffffff; /* Couleur de fond pour le thème clair */
      color: #000000; /* Couleur du texte pour le thème clair */
    }

    .hidden {
      display: none;
    }

    .popup-content {
    text-align: center;
    }

    .close-btn {
      position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    }

  .popup-logo {
    display: block;
    margin: 0 auto 1rem;
    max-width: 80px;
  }

  /*.progress-bar-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .progress-bar {
    background: #444; 
    border-radius: 4px;
    overflow: hidden;
    flex-grow: 1;
    height: 1rem;
  }

  .progress {
    height: 100%;
    background: #6c63ff;
    width: 0;
    transition: width 0.3s ease;
  }

  .percentage-value {
    font-size: 1rem;
    color: #ffffff;
  }*/

  /*.light-theme .percentage-value {
    color: #000000; /* Couleur du texte pour le pourcentage en thème clair 
  }*/
</style>

  <script>
    const skills = {
      Python: {
        percentage: '-',
        description: "Expertise en Python pour l'analyse de données, l'apprentissage automatique et le développement web.",
        logo: '/assets/skills-logo/python-logo.png'
      },
      C: {
        percentage: '-',
        description: "Compétences de base en C pour la programmation système et les projets embarqués.",
        logo: '/assets/skills-logo/c-logo.png'
      },
      Java: {
        percentage: '-',
        description: "J'ai une bonne connaissance de Java pour le développement d'applications backend et Android, avec des projets tels que le traçage de trajets et l'alignement de séquences bio-informatiques.",
        logo: '/assets/skills-logo/java-logo.png'
      },
      JavaScript: {
        percentage: '-',
        description: "J'ai des compétences avancées en JavaScript, utilisées pour la création de backend et frontend pour des projets universitaires, notamment l'organisation de tournois League of Legends.",
        logo: '/assets/skills-logo/javascript-logo.png'
      },
      HTML: {
        percentage: '-',
        description: "Expertise en HTML pour structurer des pages web sémantiques et accessibles, utilisée dans divers projets de développement frontend.",
        logo: '/assets/skills-logo/HTML-logo.png'
      },
      CSS: {
        percentage: '-',
        description: "Maîtrise de CSS pour la création de designs responsives et modernes, appliquée dans des projets web académiques et personnels.",
        logo: '/assets/skills-logo/css-logo.png'
      },
      Dart: {
        percentage: '-',
        description: "J'ai une solide expérience avec Dart pour le développement d'applications mobiles, y compris la création d'une application météo orientée événements extrêmes.",
        logo: '/assets/skills-logo/dart-logo.png'
      },
      PHP: {
        percentage: '-',
        description: "Solide expérience en PHP pour le développement de sites web dynamiques et gestion de bases de données.",
        logo: '/assets/skills-logo/php-logo.png'
      },
      Ocaml: {
        percentage: '-',
        description: "Vous avez une bonne maîtrise de Ocaml pour le développement de projets nécessitant une programmation fonctionnelle.",
        logo: '/assets/skills-logo/ocaml-logo.png'
      },

      Django: {
        percentage: '-',
        description: "Expérience avec Django pour le développement de backends robustes et sécurisés, appliquée dans des projets académiques de gestion de données et d'API.",
        logo: '/assets/skills-logo/django-logo.png'
      },
      React: {
        percentage: '-',
        description: "Compétences avancées en React pour le développement d'interfaces utilisateur dynamiques et réactives, utilisées dans plusieurs projets front-end.",
        logo: '/assets/skills-logo/react-logo.png'
      },
      NodeJS: {
        percentage: '-',
        description: "Expérience en Node.js pour le développement de serveurs backend et d'API REST, appliquée dans des projets de gestion de données en temps réel.",
        logo: '/assets/skills-logo/nodejs-logo.png'
      },
      Flutter: {
        percentage: '-',
        description: "Expérience solide avec Flutter pour le développement d'applications mobiles.",
        logo: '/assets/skills-logo/flutter-logo.png'
      },
      Bootstrap: {
        percentage: '-',
        description: "Bonne connaissance de Bootstrap pour la création de sites web responsives et rapides, utilisée pour styliser des applications web.",
        logo: '/assets/skills-logo/bootstrap-logo.png'
      },

      MySQL: {
        percentage: '-',
        description: "Bonne connaissance de MySQL pour la gestion et l'interrogation de bases de données relationnelles, appliquée dans différents projets.",
        logo: '/assets/skills-logo/mysql-logo.png'
      },
      PostgreSQL: {
        percentage: '-',
        description: "Expérience en PostgreSQL pour la gestion de bases de données avancées, avec un accent sur les requêtes complexes et l'intégrité des données.",
        logo: '/assets/skills-logo/postgresql-logo.png'
      },
      Firebase: {
        percentage: '-',
        description: "Utilisation de Firebase pour l'authentification, la gestion des données en temps réel, et le stockage, appliquée dans le développement d'applications web et mobiles.",
        logo: '/assets/skills-logo/firebase-logo.png'
      },
      "Redis Cloud": {
        percentage: '-',
        description: "Connaissance de Redis Cloud pour le stockage et la gestion de données en mémoire, appliquée dans certains projets.",
        logo: '/assets/skills-logo/redis-logo.png'
      },
      MongoDB: {
        percentage: '-',
        description: "Expérience avec MongoDB pour la gestion de bases de données NoSQL, utilisée dans des projets de développement backend.",
        logo: '/assets/skills-logo/mongoDB-logo.png'
      },
      RestApi: {
        percentage: '-',
        description: "Solide expérience dans la conception et le développement d'API RESTful pour des applications web et mobiles, assurant la communication efficace entre le frontend et le backend.",
        logo: '/assets/skills-logo/restapi-logo.png'
      },
      Postman: {
        percentage: '-',
        description: "Utilisation de Postman pour tester et documenter des API, ainsi que pour automatiser les tests d'intégration.",
        logo: '/assets/skills-logo/postman-logo.png'
      },

      PowerBI: {
        percentage: '-',
        description: "Compétences en Power BI pour la visualisation de données et la création de tableaux de bord interactifs, appliquées dans l'analyse de données et la prise de décision.",
        logo: '/assets/skills-logo/powerbi-logo.png'
      },
      SAP: {
        percentage: '-',
        description: "Expérience avec SAP pour la gestion des ressources d'entreprise (ERP) et l'analyse des processus métiers, utilisée dans des projets divers.",
        logo: '/assets/skills-logo/sap-logo.png'
      },

      SageX3: {
        percentage: '-',
        description: "Expérience avec Sage X3 pour la gestion intégrée des ressources d'entreprise (ERP), appliquée dans des projets de comptabilité et de gestion des stocks.",
        logo: '/assets/skills-logo/sage-logo.png'
      },

      Talend: {
        percentage: '-',
        description: "Compétences en Talend pour l'intégration de données et l'automatisation des flux de données, utilisées dans des projets d'ETL et d'analyse de données.",
        logo: '/assets/skills-logo/talend-logo.png'
      },

      "Android Studio": {
        percentage: '-',
        description: "Expérience avec Android Studio pour le développement d'applications Android.",
        logo: '/assets/skills-logo/androidstudio-logo.jpeg'
      },
      "Visual Studio Code": {
        percentage: '-',
        description: "Utilisation de Visual Studio Code pour divers projets de développement, offrant un environnement de développement efficace et productif.",
        logo: '/assets/skills-logo/vscode-logo.png'
      },
      Eclipse: {
        percentage: '-',
        description: "Expérience avec Eclipse comme environnement de développement intégré (IDE) pour le développement Java et d'autres langages, utilisé dans plusieurs projets.",
        logo: '/assets/skills-logo/eclipse-logo.png'
      },

      "Pack Office": {
        percentage: '-',
        description: "Maîtrise des outils de productivité Microsoft Office et Google Suite pour la gestion de projets, l'analyse de données et la préparation de présentations.",
        logo: '/assets/skills-logo/pack-office-logo.jpg'
      },
      "Google Workspace": {
        percentage: '-',
        description: "Maîtrise de Google Workspace (Docs, Sheets, Slides, Drive) pour la collaboration, la gestion de documents, et l'analyse de données dans un environnement professionnel.",
        logo: '/assets/skills-logo/google-logo.jpeg'
      },


      GitHub: {
        percentage: '-',
        description: "Utilisation avancée de GitHub pour le contrôle de version et la collaboration sur des projets.",
        logo: '/assets/skills-logo/github-logo.png'
      },
      GitLab: {
        percentage: '-',
        description: "Compétences en GitLab pour le contrôle de version, la gestion de code source et l'automatisation de pipelines CI/CD dans des projets collaboratifs.",
        logo: '/assets/skills-logo/gitlab-logo.png'
      }
    }

    document.querySelectorAll('.skill').forEach(skill => {
      skill.addEventListener('click', () => {
        const skillName = skill.getAttribute('data-skill');
        document.getElementById('skill-title').innerText = skillName;
        document.getElementById('skill-percentage').style.width = skills[skillName].percentage;
        document.getElementById('percentage-value').innerText = skills[skillName].percentage;
        document.getElementById('skill-description').innerText = skills[skillName].description;
        document.getElementById('popup-logo').src = skills[skillName].logo;
        document.getElementById('skill-popup').classList.remove('hidden');
      });
    });

    document.querySelector('.close-btn').addEventListener('click', () => {
      document.getElementById('skill-popup').classList.add('hidden');
    });
  </script>
</BaseLayout>